

<div id="main">
    <%= image_tag 'main-img.jpg' %>
</div>


<div id="article_wrap">

    <div id="article_list">

        <% @article.each do |article| %>
          <div>
              <%= link_to article.title, "/articles/#{article.id}" %>
              <br>
              <%= article.created_at.strftime("%Y/%m/%d") %>
              <br>
              <% if user_signed_in? && article.user_id == current_user.id %>
                <%= link_to "編集", edit_article_path(article) %>
                <%= link_to "削除", article_path(article.id), method: :delete %>
              <% end %>
          </div>
        <% end %>

    </div>

    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
          <% @ranking_articles.zip(@ranking_scores) do |article, score| %>

              <li><%= link_to article.title, article_path(article) %><span>（<%= score %>PV）</span></a></li>

          <% end %>
          <!-- <% @ranking_scores.each do |score| %>
          <ul>
            <li><%= score %></li>
          </ul>
          <% end %> -->
        </ul>
    </div>
    <div class="clear"></div>
</div>
