

<div id="main">
    <%= image_tag 'main-img.jpg' %>
</div>


<div id="article_wrap">

    <div id="article_list">

        <% @article.each do |article| %>
          <div>
              <%= link_to article.title, "/articles/#{article.id}" %>
              <br>
              <%= article.created_at.strftime("%Y/%m/%d") %>
              <br>
              <% if user_signed_in? && article.user_id == current_user.id %>
                <%= link_to "編集", edit_article_path(article) %>
                <%= link_to "削除", article_path(article.id), method: :delete %>
              <% end %>
          </div>
        <% end %>

    </div>

    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
